@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.btn-success{
    background: #23BE0A;
    color:#fff;
    width: 145px;
    height:52px;
    border-radius: 8px;

}
.max-w-xs{
    width:140px;
}
   option{
   
    font-size: 16px;
    font-family: Work Sans;
   
    font-weight: 400;
    color:#131313;
   


    
   
    
    
    

   
    
   
   


    
    
   


   }
.bg-purple-300{
    @apply bg-slate-300
    
}
  
  

    

 
    
